body{
    background-color: #dedada;
    font-family: Tahoma, Arial, sans-serif;
}
.card{
    width: 350px;
    height: 300px;
    background-color: white;
    text-align: center;
    margin:10% auto;
    box-shadow:  0 0 6px 3px rgba(0, 0, 0, 0.19);

}
.div-img{
    padding-top: 10%;
}
.image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    outline: 4px solid red;
    outline-offset: 4px;

}

.name{
    padding:10px 0;
    border-bottom: #b8b2b2 4px solid;
}
.p{
    text-align: center;
    padding: 10px 0;
}


.footer{
    background-color: #d0caca;
    height: 50px;
}
.icons{
    padding-top: 25px;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}
